$color-accent-light-01: #c5deff; 
$color-accent-01: #1876f2;
$color-primary-01: #efefef;
$color-primary-light-01: #ffffff;
$color-secondary-01: #626262;
$color-secondary-light-01: #ccc;
$color-secondary-light-02: #9a9a9a;
$color-online: #41db51;

